<div class="bg-white shadow-md rounded-lg overflow-hidden items-center p-2">
    <div class="container mx-auto">
    <%= link_to plant_path(plant) do %>  
      <% if plant.image.attached? %>
        <%= image_tag( plant.image.variant(resize_to_fill: [300, 210]), class: 'my-2 rounded-lg') %>
      <% else %>
        <%= image_tag( 'Keeper2-users.jpg',  class:'my-2 rounded-lg')%>
      <% end %>
    </div>
    <div class="container mx-auto mb-2 mt-2">
      <p>植物名：<%= plant.name %></p>
      <p>科名：<%= plant.family %></p>
      <p>最終水やり日：<%= plant.plants_actions.last&.last_watered %></p>
    <% end %>
    </div>
    <div>
    <% if plant.user_id == current_user.id %>
          <%= link_to '編集', edit_plant_path(plant), class:'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
          <%= link_to '水やり完', watered_plant_path(plant), method: :patch, data: {turbo_method: :patch}, class:'bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
          <%= link_to '削除', plant_path(plant), method: :delete, data: { turbo_method: :delete }, class:'bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
    <% end %>
    </div>
  </div>