<div class="flex h-screen bg-green-200">
    <!-- 左側の縦長のカード -->
    <div class="w-1/3 bg-white h-ful shadow-md rounded-lg overflow-auto mr-2 mb-12 mt-2 ml-2">
      <div class="p-4 h-full bg-gray-200  shadow-md rounded-lg overflow-auto"> 
        <h2 class="border mb-2 text-2xl font-bold">通知</h2>
        <% @w_cycle.each do |key, value| %>
          <% if value == "3回以上水やりを忘れています。" %>
            <div class="mb-3">'<%= key %>'は<%= value %></div>
          <% elsif value != 0 %>
            <div class="mb-3">'<%= key %>'は<%= value %>が水やり日です。</div>
          <% end %>
        <% end %>
     </div> 
    </div>
  
    <!-- 右側のコンテナ -->
    <div class="w-2/3 flex flex-col mt-2 mb-12 relative">
      <!-- 上半分の横長のカード -->
      <div class="h-1/2 flex bg-white shadow-md rounded-lg overflow-hidden mr-2 p-2">
        <div class="w-1/3 flex flex-col items-center justify-center">
          <% if @user.avatar.attached? %> 
            <%= image_tag(@user.avatar.variant(resize_to_fit: [50, 50]).processed, class: 'w-32 h-32 rounded-full mb-2') %>
          <% else %>
            <%= image_tag('default_image.png', class: 'w-32 h-32 rounded-full mb-2') %>
          <% end %>  
          ユーザー名
          <p>：<%= @user.name %></p>
          メールアドレス
          <p>：<%= @user.email %></p>
          アカウント登録日
          <p>：<%= @user.formatted_created_at %></p>
          <% unless @user.line_id.present? %>
            <%= link_to  'https://lin.ee/xUd7xfR' do %>
              <%= image_tag "https://scdn.line-apps.com/n/line_add_friends/btn/ja.png", size: '125x125', class: 'mt-2' %>
            <% end %>  
          <% else %>
            <P class="mt-2"><%= link_to 'LINEの連携解除', user_delete_line_id_path(current_user), data: {turbo_method: :patch, turbo_confirm: "LINEで通知を受け取れなくなりますが、よろしいですか？"}, class: 'text-gray hover:underline' %></P>
          <% end %>
          <p class="mt-2"><%= link_to 'アカウント削除', user_path(current_user), data: {turbo_method: :delete, turbo_confirm: "アカウントを削除してもよろしいですか？"}, class: 'text-gray hover:underline' %></p>
        </div>
        <div class="w-2/3 flex">
            <%= render partial: 'users/plant', collection: @plant_limit2, as: 'plant' %>
        </div>
      </div>
      
      <!-- 下半分の横長のカード -->
      <div class="h-1/2 bg-white shadow-md rounded-lg overflow-hidden mt-2 mr-2">
        <p>楽天市場api使用しておすすめ商品を表示(本リリース)</p>
      </div>
    </div>
</div>


