<header class="header text-gray-600 body-font  bg-green-200">
  <div class="bg-green-200 py-4 px-6 flex justify-between items-center">
    <%= link_to root_path, class: 'hover:text-gray-900', data: {"turbo" => false} do %>
      <%= image_tag 'Keeper-removebg.png', size: '60x60' %>
      <!-- <h1 class="text-gray text-xl font-semibold">水やり Keeper</h1> -->
    <% end %>
    <div>
    <div class="flex space-x-4 items-center">
      <%= render 'shared/search', q: @q, url: search_plants_path %>

      <div class="relative" id="headerBtnContainer">
        <button class="btn btn-lg mx-3 menu-button text-gray hover:underline transition duration-300">
          メニュー <i class="fas fa-caret-down"></i>
        </button>
        <div class="absolute top-full left-0 bg-white border border-gray-300 p-4 hidden z-10 rounded-lg" id="headerDropdown", data-turbo="false">
          <ul class="w-24">
            <li>
              <%= link_to products_path, class: 'text-gray hover:text-gray-900', title: '商品一覧', data: {"turbo" => false} do %>
              <i class="fas fa-list mx-1 mt-1">商品一覧</i>
              <% end %>
            </li>

            <li>
              <%= link_to product_search_path, class: 'text-gray hover:text-gray-900', title: '商品の登録ページ', data: {"turbo" => false} do %>
                <i class="fas fa-search mx-1 mt-1 ">商品登録</i>
              <% end %>
            </li>
            
            <li>
              <%= link_to plants_path, class: 'text-gray hover:text-gray-900', title: 'My植物ページ', data: {"turbo" => false} do %>
                <i class="fas fa-leaf mx-1 mt-1">My植物</i>
              <% end %>
            </li>   
          </ul>
        </div>
      </div>
      <div class="relative" id="header2BtnContainer">
        <button class="btn btn-lg mx-3 menu-button text-gray hover:underline transition duration-300">
          ユーザー <i class="fas fa-caret-down"></i>
        </button>
        <div class="absolute top-full left-0 bg-white border border-gray-300 p-4 hidden z-10 rounded-lg" id="header2Dropdown">
          <ul>
            <li>
              <%= link_to mypage_path, class: 'text-gray hover:text-gray-900', title: 'Myページ', data: {"turbo" => false} do %>
                <i class="fas fa-user mx-1 mt-1"></i>
              <% end %>
            </li>

            <li>
              <%= link_to logout_path, method: :delete, data: { turbo_method: :delete }, class: 'text-gray hover:text-gray-900', title: 'ログアウト' do %>
                <i class="fas fa-sign-out-alt mx-1 mt-1"></i>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
  </div>
</header>
