<% unless plant.user_id == current_user.id %>
  <div class="bg-white shadow-md rounded-lg overflow-hidden items-center p-2">
      <%= link_to plant_path(plant) do %>  
        <% if plant.image.attached? %>
          <%= image_tag( plant.image.variant(resize_to_fill: [400, 400]).processed, class: 'my-2 rounded-lg') %>
        <% else %>
          <%= image_tag( 'Keeper2.jpg', class:'my-2 rounded-lg', :size => '400x400' ) %>
        <% end %>
        <%= link_to user_plants_path(plant.user) do %>
          <p class="hover:underline">ユーザー名：<%= plant.user.name %></p>
        <% end %>
        <p>植物名：<%= plant.name %></p>

        <p>科名：<%= plant.family %></p>
      <% end %>
      <% if plant.user_id == current_user.id %>
        <div class="mt-2">
            <%= link_to '編集', edit_plant_path(plant), class:'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline', data: {"turbo" => false} %>
            <%= link_to '水やり完', '#', class:'bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
            <%= link_to '削除', plant_path(plant), method: :delete, data: { turbo_method: :delete }, class:'bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
        </div>
      <% end %>
  </div>
<% end %>