<div class="container mx-auto px-4 py-8 mb-4">
    <div class="max-w-md mx-auto bg-white rounded-lg overflow-hidden shadow-md">
      <div class="px-6 py-4">
        <h2 class="text-2xl font-bold mb-4">植物登録</h2>
        <%= form_with model:@plant do |form| %>

        <%= render 'shared/error_messages', model: form.object %>

          <div class="mb-4">
            <%= form.label :name, class: 'block text-gray-700 text-sm font-bold mb-2' do %>
              名前
            <% end %> 
            <%= form.text_field :name, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %> 
          </div>
          <div class="mb-4">
            <%= form.label :last_watered, class: 'block text-gray-700 text-sm font-bold mb-2' do %>
              最終水やり日
            <% end %>
            <%= form.date_field :last_watered, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
          </div>
          <div class="mb-4">
            <%= form.label :new_pot, class: 'block text-gray-700 text-sm font-bold mb-2' do %>
              鉢替え予定日
            <% end %>
            <%= form.date_field :new_pot, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
          </div>
          <div class="mb-4">
            <%= form.label :content, class: 'block text-gray-700 text-sm font-bold mb-2' do %>
              日記
            <% end %>
            <%= form.text_area :content, placeholder: '例：少し育った', class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
        </div>
          <div class="mb-4">
            <%= form.label :family, class: 'block text-gray-700 text-sm font-bold mb-2' do %>
              科
            <% end %>
            <div class="flex items-center">
                <%= form.select :family, Plant.families.keys.to_a, { prompt: '何科か選択してください' }, class: 'block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 rounded shadow leading-tight focus:outline-none focus:shadow-outline' %>
            </div>
          </div>
          <div class="mb-4">
            <%= form.label :image, class: 'block text-gray-700 text-sm font-bold mb-2' do %>
              植物の写真
            <% end %>
            <%= form.file_field :image, id: 'plant_image', class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
          </div>
          <div class="mb-6" id="new-image"></div>          
          <div class="flex items-center justify-between">
            <%= form.submit "登録", class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
          </div>
        <% end %>
      </div>
    </div> 
</div>
