<div class="container mx-auto px-4 py-8">
    <div class="max-w-md mx-auto bg-white rounded-lg overflow-hidden shadow-md">
      <div class="px-6 py-4">
        <h2 class="text-2xl font-bold mb-4">ログイン</h2>
        <%= form_with url: login_path do |form| %>
          <div class="mb-4">
            <%= form.label :email, class: 'block text-gray-700 text-sm font-bold mb-2' do %>
              メールアドレス
            <% end %>
            <%= form.email_field :email, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
          </div>
          <div class="mb-6">
            <%= form.label :password, class: 'block text-gray-700 text-sm font-bold mb-2' do %>
              パスワード
            <% end %>
            <%= form.password_field :password, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline' %>
          </div>
          <div class="flex items-center justify-between">
            <%= form.submit "ログイン", class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
          </div>
        <% end %>
      </div>
    </div>
</div>